[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "==1.18.*"

[dev-packages]
pytest = "6.2.4"
pytest-cov = "2.12.*"
pylint = "2.9.*"

[requires]
python_version = "3.8"
